*~
frontends/gtk/res/toolbarIndices
frontends/windows/res/preferences
core/resources/\!NetSurf/!Run,feb
core/resources/\!NetSurf/!RunImage,ff8
core/resources/\!NetSurf/!Help,feb
core/resources/\!NetSurf/Resources/en/Templates,fec
core/resources/\!NetSurf/Resources/en/Messages
core/resources/\!NetSurf/Resources/fr/Templates,fec
core/resources/\!NetSurf/Resources/fr/Messages
core/resources/\!NetSurf/Resources/de/Templates,fec
core/resources/\!NetSurf/Resources/de/Messages
core/resources/\!NetSurf/Resources/nl/Templates,fec
core/resources/\!NetSurf/Resources/nl/Messages
core/resources/\!NetSurf/Resources/it/Messages
frontends/gtk/res/en/Messages
frontends/gtk/res/fr/Messages
frontends/gtk/res/de/Messages
frontends/gtk/res/nl/Messages
frontends/gtk/res/it/Messages
test/nsoption
test/nsurl
test/urldbtest
test/llcache
codedocs
nsgtk
nsfb
nsmonkey
nsdebug
Makefile.config
NetSurf.exe
netsurf-installer.exe
NetSurf.app
NetSurf.dbg
NetSurf.dmg
NetSurf
build-*
